.cover img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radios);
}
.legend {
    display: flex;
    justify-content: center;
}
.legend p {
    margin: 38px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    max-width: 60%;
    text-align: center;
    text-align: center;

    color: var(--color-text-secundary);
}

.galery {
    padding: 0 8px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 300px);
    gap: 16px;
}

.galery__item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 746px) {
    .galery {
        grid-template-columns: repeat(1, 1fr);
    }
}
