.card {
    cursor: pointer;
    background: var(--color-btn);
    border-radius: var(--border-radios);

    transition: all ease-in-out 300ms;

    padding: 32px;
}
.card:hover {
opacity: 0.8;
}
.card h1 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--color-text-primary);
}
