.work__card {
    grid-column: span 6;
    position: relative;
    padding-bottom: 48px;
}
.work__card:nth-child(even) {
    transform: translate3d(0, 56px, 0);
}
.card__cover {
    overflow: hidden;
}
.card__cover img {
    max-width: 100%;
    transition: 0.3s ease-in-out;
}
.card__cover:hover img {
    transform: scale(1.05);
}

.card__title {
    margin-top: 16px;
}
.card__title h2 a {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: var(--color-text-primary);
    position: relative;
    display: inline-flex;
    transition: 0.3s ease-in-out;
}
.card__title h2 a:hover {
    color: var(--color-primary);
}
.card__title p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    max-width: 90%;
    color: var(--color-text-secundary);
}

@media screen and (max-width: 746px) {
    .work__card:nth-child(even) {
        transform: translate3d(0, 0, 0);
    }
}
